/* ==========================================================================
   BUTTON - OBJECT
   ========================================================================== */

// Note - this could be converted to a button mixin

.btn {
    font: inherit;
    cursor: pointer;
    border: none;
    display: inline-block;
    margin: 0;
    white-space: nowrap;
    line-height: 1;
    padding: 5px 11px 4px;
}

.btn,
.btn:hover { text-decoration: none; }