/* ==========================================================================
   MEDIA - OBJECT
   ========================================================================== */

/**
 * Place any image- and text-like content side-by-side, as per:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 * E.g.:
 *
   <div class=media>
       <img src=http://placekitten.com/200/300 alt="" class=media__img>
       <p class=media__body>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   </div>
 *
 * Demo: jsfiddle.net/inuitcss/cf4Qs
 *
 */

.media {
    display:block;
    //@extend .cf;
}

.media .img {
    float:left;
    margin-right:1em;
}

/**
 * Reversed image location (right instead of left).
 */
.media .img--rev {
    float:right;
    margin-left:1em;
}

.media .img img,
.media .img--rev img {
    display:block;
}

.media .bd {
    overflow:hidden;
}

.media .bd,
.media .bd > :last-child {
    margin-bottom:0;
}


/**
 * '.img's in '.islet's need an appropriately sized margin.
 */

.islet .img {
    margin-right:0.5em;
}

.islet .img--rev {
    margin-left:0.5em;
}