/* ==========================================================================
   NAV - OBJECT
   ========================================================================== */

.nav {
	list-style: none;

	li { display: inline; }
	a { display: inline-block; }
}

.nav--primary {
	padding: 0;
	font-family: $copy-bold-font-family;
	font-weight: bold;
	@include adjust-font-size-to(14px);
}

.nav--primary__item > a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}


.nav--justified {
	text-align: justify;

	&:after {
	    content: "";
	    display: inline-block;
	    width: 100%;
	}
}