/* ==========================================================================
   SPOTLIGHTS - MODULE
   ========================================================================== */

/* Spotlights wrapper */
.spotlights {
	@include pie-clearfix;
}

/* Double spotlight */
.spotlights--2 > .spotlights__element {
	float: left;
	width: 45%;
	margin-right: 10%;
	&:last-child { margin: 0; }
}

/* Triple spotlight */
.spotlights--3 > .spotlights__element {
	float: left;
	width: 30%;
	margin-right: 5%;
	&:last-child { margin: 0; }
}

/* Individual spotlight */
.spotlights__element {
	@include trailer;
	&:last-child { margin: 0; }

	> img { width: 100%; }
}